<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holo-Twi</title>

    <!--Module CSS-->
    <link href="css/home.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="screen">
        <h1 class="align-center">Welcome to Holo-Twi!</h1>
        <img class="title-image" src="img/holo twi.jpg">

        <hr><br>

        <p class="align-center">This is my personal Discord bot for my private server.</p>
        <p class="align-center">I needed an https URL as a requisite for a certain API.</p> <br>

        <p class="align-center"><b>Nothing to see here, though!</b></p> <br>

        <div>
            <p class="align-center">If you wanna check out the code for it, you can look at it here:</p>
            <a href="https://github.com/TheKillerAxe/Holo-Twi" class="align-center">Holo-Twi GitHub Repository</a>
        </div>
    </div>
</body>

</html>